:host {
    display: flex;
    height: 64px;
    box-sizing: border-box;
    padding: 0 1rem;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 8px;
}

:host:hover {
    background-color: #151b23;
}

.selection {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.status {
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    min-width: 22px;
    flex-direction: row;
    display: flex;
}

.title {
    display: flex;
    color: #fff;
    justify-content: start;
    align-items: start;
    text-align: start;
    font-size: 1rem;
    font-weight: 600;
    justify-content: start;
    text-decoration: none;
}
.title:hover {
    cursor: pointer;
    color: #4493f8;
    text-decoration: underline;
}