<gigut-header></gigut-header>
<h2>Create new issue</h2>
<div class="host">
    <div class="left-block">
        
        <b class="l-sub"><span>Add a title</span><span style="color: red;">*</span></b>
        <input [(ngModel)]="issue.title" (input)="triedToSaveWithoutName = false">
        <span *ngIf="triedToSaveWithoutName" style="color: #f85149;">Title can not be empty</span>
        <b class="l-sub"><span>Add a description</span></b>
        <textarea [(ngModel)]="issue.description" class="textarea"></textarea>
        <div style="display: flex; margin-top: 32px; align-items: center;">
            <div style="flex-grow: 1;"></div>
            <input type="checkbox" class="create-more-checkbox">
            <span style="padding-left: 8px;">Create more</span>
            <button class="cancel-button" (click)="dismiss()"><span>Cancel</span></button>
            <button class="create-button" (click)="create()"><span>Create</span></button>
        </div>
    </div>
    <issue-right-block-settings [issue]="issue" [accountLogger$]="accountLogger$">

    </issue-right-block-settings>
</div>