div.host {
    display:flex;
    gap: 32px;
}

div.left-block {
    width: 100%;
    max-width: 960px;
}



.l-sub {
    display: flex;
}

input {
    box-sizing:border-box;
    padding: 0 .75rem;
    width: 100%;
    height: 32px;
    max-height: 32px;
}

.textarea {
    min-height: 20lh;
    max-height: 35lh;
    box-sizing: content-box;
    field-sizing: content;
    overflow-wrap: anywhere;
    height: 359px;
    max-width: 100%;
    min-width: 100%;

}

div.input-field {
    width: inherit;
    padding-left: 12px;   
    border: 0.0625rem solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.create-more-checkbox {
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
}

.cancel-button {
    margin-left: 32px;
}

.create-button {
    margin-left: 8px;
    background-color: #238636;
    padding: 0 .75rem;
}
.create-button:hover {
    background-color: #29903b;
}












