:host {
    display: flex;
    height: 64px;
    box-sizing: border-box;
    padding: 0 1rem;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 8px;
}

:host:hover {
    background-color: #151b23;
}

.selection {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.status {
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    min-width: 22px;
    flex-direction: row;
    display: flex;
}

.title {
    display: flex;
    color: #9198a1;
    justify-content: start;
    align-items: start;
    text-align: start;
    font-size: 0.75rem;
    font-weight: 400;
    width: 100%;
    justify-content: start;
}

button.dialog-button {
    margin: 0.5rem;
    width: calc(100% - 1rem);
    justify-content: start;
}


button.delete-button {
    color: #f85149;
}
button.delete-button:hover {
    background-color: #f851491a;
    color: #ff7b72;
}