div.host {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1280px;
    margin: auto;
}

:host {
    justify-content: center;
    display: block;
}

.filter-counter {
    padding: 0 0.375rem;
    background-color: #656c7633;
    font-size: 0.75rem;
    border: 0.0625rem solid #00000000;
    border-radius: 20px;
    min-width: 32px;
}

span.assignee-dropdown-title {
    width: 100%;
    text-align: start;
    margin-left: .5rem;
    
    font-size: 0.875rem;
    font-weight: 600;
    justify-content: start;
}

.filter-span {
    font-size: 0.875rem;
    color: #9198a1;
    font-weight: 500;
}

div.outer-header {
    gap: 8px;
    max-width: inherit;
    width: inherit;
    height: 32px;
    max-height: 32px;
    min-height: 32px;
    display:flex;
    margin-bottom: 1rem;
}

div.search-field-total {
    display:flex;
    width: 100%;
}

svg.clear-search-field {
    position: relative;
    margin-right: -16px;
    cursor: pointer;
    left: -24px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

input.search-field-input {
    width: inherit;
    height: 32px;
    box-sizing: border-box;
    padding-left: 12px;   
    max-height: 32px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

input.search {
    height: 32px;
    margin: .5rem 0;
    width: calc(100% - .5rem);
    padding-left: .5rem;
}

div.dialog {
    width: 320px;
    min-height: 230px;
}

.search-button {
    
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-left: none;

}

.more {
    padding: 0;
    width: 32px;
}

.label-button {
    padding: 0 .75rem;
}
.label-button-image {
    margin-right: .5rem;
}

.new-issue-button {
    background-color: #238636;
    padding: 0 .75rem;
}
.new-issue-button:hover {
    background-color: #29903b;
}

.reset-button {
    margin-top: 32px;
    background-color: #212830;
    color: #fa5e55;
    padding: 0 .75rem;
}
.reset-button:hover {
    background-color: #b62324;
    color: #fff;
}


issue-item {
    border-color: #3d444db3 !important;
    border-bottom: 0.0625rem solid;
}

div.main-panel {
    border: 0.0625rem solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}



div.header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: inherit;
    max-height: 48px;
    border-bottom: 0.0625rem solid;
    border-bottom-color: var(--border-color);
    background-color: var(--bg-muted-color);
    padding: 8px 1rem;
    align-items: center;
}


div.separator {
    background-color: #3d444db3;
    height: 1px;
    margin: 0.25rem 0;
}

div.list {
    padding: 32px;
}


h3.no-results {
    margin-top: 0px;
    width: inherit;
    margin-bottom: 4px;
}
p.no-results {
    color: var(--fg-muted-color);
    width: inherit;
    margin-bottom: 10px;
}

