

div.title-block {
    display: flex;
    padding: 0 1.5rem;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

span.title {
    font-size: 32px;
    font-weight: 400;
}

span.id {
    color: #9198a1;
    font-size: 32px;
    font-weight: 300;
}


div.status {
    align-items: start;
    display: flex;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border-bottom: 0.0625rem solid;
    border-bottom-color: var(--border-color);
}

div.status-div {
     padding: .5rem .75rem;
    display: inline-flex;
    color: #fff;
    border-radius: 624.9375rem;
}

div.svg-open {
    background-color: #3fb950;
}
div.svg-closed {
    background-color: #8957e5;
}
div.svg-not-planned {
    background-color: #9198a1;
}

.new-issue-button {
    background-color: #238636;
    padding: 0 .75rem;
}
.new-issue-button:hover {
    background-color: #29903b;
}




div.main-module {
    max-width: 1280px;
    min-width: none;
    padding: 0 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 0.5rem;
    margin-top: 32px;
}





.pfp {
    width: 40px;
    height: 40px;
}

span.add-a-coment-label {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

div.left-block {
    flex-grow: 1;
    min-width: none;
}

div.logout-message {
    margin-top: 1rem;
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: #bb800926;
    border: 0.0625rem solid #bb800966;

}


.textarea {
    margin-left: 56px;
    min-height: 10lh;
    max-height: 35lh;
    box-sizing: border-box;
    padding: 1rem;
    field-sizing: content;
    overflow-wrap: anywhere;
    height: 10lh;
    max-width: calc(100% - 56px);
    width: calc(100% - 56px);

}

div.input-field {
    width: inherit;
    padding-left: 12px;   
    border: 0.0625rem solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.create-more-checkbox {
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
}

.close-button {
    margin-left: 32px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.more-close-buttons {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 32px;
    max-width: 32px;
    padding: 0;
}

.post-button {
    margin-left: 8px;
    background-color: #238636;
    padding: 0 .75rem;
}
.post-button:hover {
    background-color: #29903b;
}

div.close-button-dropdown {
    z-index: 1000;
    width: 320px;
    height: 180px;
    box-sizing: border-box;
    display: block;
    padding: 8px 0;
    gap: 0.25rem;
    position: absolute;

    background-color: #010409;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
}

button.closure-dropdown {
    width: calc(100% - 1rem);
    align-items: start;
    align-content: start;
    justify-content: start;
    margin-inline: .5rem;
    justify-items: start;
    gap: 6px;
    max-height: 52px;
    height: 52px;
    
    padding: 6px 8px;
}

div.closure-dropdown-separator {
    background: #3d444db3;
    height: 1px;
    width: 240px;
    margin-left: 60px;
}

span.closure-dropdown-title {
    font-size: 0.875rem;
    line-height: 20px;
    font-weight: 600;
}
span.closure-dropdown-desc {
    color: #9198a1;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 16px;
}