/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #f0f6fc;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;


    --border-radius: 0.375rem;
    --icon-color: #9198a1;
    --bg-muted-color: #151b23;
    --border-color: #3d444d;
    --fg-muted-color: #9198a1;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    
}

input {
    background-color: #0000;
    border-color: #0000;
    box-shadow: none;
    border: none;
    
    padding: 0px;
}

button.trans {
    min-height: 32px;
    min-width: 32px;
    border-radius: 0.375rem;
    background-color: #0000;
    border-color: #0000;
    box-shadow: none;
}

button {
    color: #fff;
    padding: 0px;
    border: 0.0625rem solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    display: inline-flex;
    font-weight: 500;
    background-color: #212830;
    min-height: 32px;
    min-width: 32px;
}
button:hover {
    background-color: #656c7633;
}

svg {
    fill: currentColor;
    height: 16px;
    width: 16px;
    color: var(--icon-color);
}

span {
    display: grid;
    box-sizing: border-box;
    grid-area: text;
    line-height: 1.42857;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: inherit;
    justify-content: center;
    align-items: center;
}