/* You can add global styles to this file, and also import other style files */

body {
    box-sizing: border-box;
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #f0f6fc;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;


    --border-radius: 0.375rem;
    --icon-color: #9198a1;
    --bg-muted-color: #151b23;
    --border-color: #3d444d;
    --fg-muted-color: #9198a1;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    
}

input, textarea {
    background-color: #0000;
    border-color: #3d444d;
    box-shadow: none;
    border: 0.0625rem solid #3d444d;
    border-radius: 0.375rem;
    color: #fff;
    padding: 0px;
    outline: none;
}
input:focus, textarea:focus {
    border-color: #4493f8;
}

button.trans {
    min-height: 32px;
    min-width: 32px;
    border-radius: 0.375rem;
    background-color: #0000;
    border-color: #0000;
    box-shadow: none;
}

button {
    cursor: pointer;
    color: #fff;
    padding: 0px;
    border: 0.0625rem solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    display: inline-flex;
    font-weight: 500;
    background-color: #212830;
    min-height: 32px;
    padding: 0 .75rem;
    min-width: 32px;
    gap: 8px;
    min-width: fit-content;
    max-height: 32px;
}
button:hover {
    background-color: #262c36;
}

svg {
    fill: currentColor;
    align-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    color: var(--icon-color);
}

span {
    display: grid;
    box-sizing: border-box;
    grid-area: text;
    line-height: 1.42857;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: inherit;
    justify-content: center;
    align-items: center;
}

a {
    color: #4493f8;
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

svg.svg-open {
    color: #3fb950;
}
svg.svg-closed {
    color: #ab7df8;
}
svg.svg-not-planned {
    color: #9198a1;
}

img.pfp {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #ffffff26;
}

div.space {
    flex-grow: 1;
}

div.separator {
    background-color: #3d444db3;
    height: 1px;
}


.pfp16 {
    width: 16px;
    height: 16px;
    border: 0.125rem solid #0d1117;
    border-radius: 50%;
    display: flex;
    background-color: #212830;
    color: #9198a1;
    justify-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 0 1px #ffffff26;
}

.pfp32 {
    width: 32px;
    height: 32px;
    border: 0.125rem solid #0d1117;
    border-radius: 50%;
    display: flex;
    background-color: #212830;
    color: #9198a1;
    box-sizing: border-box;
    justify-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 0 1px #ffffff26;
}

.pfp40 {
    width: 40px;
    height: 40px;
    border: 0.125rem solid #0d1117;
    border-radius: 50%;
    display: flex;
    background-color: #212830;
    color: #9198a1;
    box-sizing: border-box;
    justify-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 0 1px #ffffff26;
}


div.comment-body {
    flex-grow: 1;
    border: 1px solid #388bfd66;
    border-radius: 6px;
}

div.comment-header {
    display: flex;
    background-color: #388bfd1a;
    border-bottom: 0.0625rem solid #388bfd66;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
}

p.comment-content-body {
    text-align: start;
    padding: 1rem;
}

div.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 0.1875rem;
    border: .0625rem solid #656c76;
    background-color: #0d1117;
}

div.checkbox-selected {
    width: 16px;
    height: 16px;
    border-radius: 0.1875rem;
    border: .0625rem solid #656c76;
    background-color: #1f6feb;
    
    border-color: #1f6feb;
}

div.dialog {
    background-color: #010409;
    position: absolute;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
}

div.dialog-content {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.label {
    border-radius: 999px;
    padding: 0px 8px;
    white-space: nowrap;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    align-content: center;
    width:fit-content;
    border-style: solid;
    border-width: 1px;
    --lightness-threshold: 0.6;
    --perceived-lightness: calc(((var(--r) * 0.2126) + (var(--g) * 0.7152) + (var(--b) * 0.0722)) / 255);
    --lightness-switch: max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    background: rgba(var(--r), var(--g), var(--b), 0.18);
    color: hsl(var(--h), calc(var(--s) * 1%), calc((var(--l) + var(--lighten-by)) * 1%));
    border-color: hsla(var(--h), calc(var(--s) * 1%), calc((var(--l) + var(--lighten-by)) * 1%), 0.3);
}