:host {
    width: 100%;    
    max-width: 296px;
}

div.right-block {
    width: 100%;    
    max-width: 296px;
}

div.separator {
    background-color: #3d444db3;
    height: 1px;
    margin: 0.25rem 0;
}


.desc-title {
    text-align: start;
    align-items: start;
    justify-content: start;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: flex;
}



button.trans {
    display: flex;
    width: 100%;
    padding: 0 .5rem;
    align-content: start;
}


span.l-title {
    color: #9198a1;
    flex-grow: 1;
    text-align: start;
    align-items: start;
    justify-content: start;
}

div.assignee-dropdown {
    max-height: 100vh;
    min-width: 192px;
    left: -64px;
    width: 320px;
}

li {
    justify-content: start;
    text-align: start;
}

.deletion-dialog-parent {
    box-shadow: none;
    border-radius: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #21283066;
}
.deletion-dialog {
    padding: 16px;
    width: 320px;
    height: 200px;
    position: absolute;
    left: calc(50% - 160px);
    top: calc(50% - 100px);
}

.deletion-button:hover {
    --ok: #fff
    color: #fff;
    background-color: #b62324;
    border-color: #ffffff26;
}

input.search {
    height: 32px;
    margin: .5rem 0;
    width: calc(100% - .5rem);
    padding-left: .5rem;
}

span.assignee-dropdown-title {
    width: 100%;
    text-align: start;
    margin-left: .5rem;
    
    font-size: 0.875rem;
    font-weight: 600;
    justify-content: start;
}

button.trans {
    justify-content: start;
}

button.delete-button {
    color: #f85149;
}
button.delete-button:hover {
    background-color: #f851491a;
}